@model IPagedList<YcuhForum.Models.Article>

<p>
    <a href="#model" class="btn btn-default test fancybox" onclick="gogoCreate()">新增</a>
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_Creater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_Category)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_Title)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_FileUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_IsShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_IsReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Article_OtherSiteUrl)
        </th>
        <th>
            考題
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Article_Creater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_Category)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Article_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_FileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_IsShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_IsReply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article_OtherSiteUrl)
            </td>
            <td>
                <a href="#model" class="btn btn-default test fancybox" onclick="gogoExam('@item.Article_Id')">考題</a>
            </td>
            <td>
                <a href="#model" class="btn btn-default test fancybox" onclick="gogoEdit('@item.Article_Id')">編輯</a> |

                <a href="#" class="btn btn-default test" onclick="gogoDelete('@item.Article_Id')">刪除</a>
            </td>
        </tr>
    }

</table>

<div id="model" class="model" style="display:none;width:80%" >
    @*@Html.Action("Create");*@
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@section header{
    <link href="~/Content/sorter/style.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/css/jquery.fancybox.css" rel="stylesheet">
}
@section Scripts{
    <script src="~/Scripts/fancybox/js/jquery.fancybox.js"></script>

    <script>
        $(function () {
            fanc();
        });
        function fanc() {
            $(".fancybox").fancybox({
                autoSize: false,
                arrows: false,
                width: '55%',
                openEffect: 'fade', //fade, elastic
                closeEffect: 'fade', //fade, elastic
                prevEffect: 'elastic',
                nextEffect: 'elastic',
                tpl: {
                    next: '<a title="下一則" class="fancybox-nav fancybox-next"><span></span></a>',
                    prev: '<a title="上一則" class="fancybox-nav fancybox-prev"><span></span></a>'
                },
                helpers: {
                    title: {
                        //inside, outside, over
                    },
                    overlay: {
                        speedIn: 0,
                        speedOut: 300,
                        opacity: 0.8,
                        css: {
                            cursor: 'default'
                        },
                        closeClick: false
                    }
                    //overlay: {
                    //    speedOut: 0
                    //}
                }
            });
            /*關閉*/
            $("#close").click(function () {
                $.fancybox.close();
            });
        }

        function OpenCreate() {
            $.fancybox.open();
        }


        function gogoCreate(data) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("Create", "BackendArticle")",
                success: function (data) {
                    $("#model").html(data);
                    doBack();
                    $.fancybox.open();
                },
            error: function (xhr, status) {
                alert(xhr.responseText);
            }

        });
        }


        function gogoEdit(data) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("Edit", "BackendArticle")" + "?id=" + data,
                success: function (data) {

                    $("#model").html(data);
                    doBack();
                    $.fancybox.open();
                },
                error: function (xhr, status) {
                    alert(xhr.responseText);
                }

            });
        }

        function gogoDelete(data) {

            if (confirm("確定刪除?")) {

                $.ajax({
                    type: "Post",
                    url: "@Url.Action("Delete", "BackendArticle")" + "?id=" + data,
                    success: function (data) {
                        alert("刪除成功");
                        window.location.reload();
                    },
                    error: function (xhr, status) {
                        alert("系統忙碌中");
                    }

                 });
            }
            else {
                return;
            }
        }


        function gogoExam() {
            $.ajax({
                type: "Get",
                url: "@Url.Action("Exam", "BackendArticle")" + "?id=" + data,
                success: function (data) {

                    $("#model").html(data);
                    doBack();
                    $.fancybox.open();
                },
            error: function (xhr, status) {
                alert(xhr.responseText);
            }

        });
        }
        
        function doBack() {
            var editor = CKEDITOR.instances['Article_Content'];
            if (editor) {
                CKEDITOR.instances['Article_Content'].destroy();
            }
            CKEDITOR.replace('Article_Content');
        }


    </script>
}